/*Homepage*/
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');


* {
	box-sizing: border-box;
}




.homelogo {
    padding-bottom: 0;
}

.menu {
	  word-spacing: 18px;
	  padding-top: -1px ;
	  padding: -1px;
    text-align: center;
    border-bottom: 1.2px solid gray;
    border-top: 1.2px solid gray;
		width: 100%;


	}
	.menu li {
		padding: 0, 20%;
		display: inline;

	}
	.menu ul {
		 list-style-type: none;

	}

.menu a {
	font-size:3.5vw;
	display: inline-block;
	padding: 0.1em;
	color: #040678;
	text-decoration: none;
}

.menu a:hover {
	color: #8a0e00;
}

body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(80,0,36,.66) 0%, rgba(250,23,34,.66) 0%, rgba(255,180,0,.66) 0%, rgba(254,208,97,.66) 5%, rgba(237,242,240,.66) 67%);
}

p {
 font-size:22px;
 text-align: justify;
}
.page-name {
	font-family: 'Calligraffitti';
	font-size: 3.5em;
	text-align: center;
	margin-top: 1%;
	font-weight:bolder;
}
.page-name-large {
	font-size: 3.4em;
}
